[submodule "Engine/Vendor/glfw"]
	path = Engine/Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/Vendor/glm"]
	path = Engine/Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/Vendor/assimp"]
	path = Engine/Vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/Vendor/stb"]
	path = Engine/Vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Engine/Vendor/VulkanMemoryAllocator"]
	path = Engine/Vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Engine/Vendor/lunasvg"]
	path = Engine/Vendor/lunasvg
	url = https://github.com/sammycage/lunasvg.git
