# Directories
.vs/
.vscode/
.cache/
.idea/
.zed/
Binaries/
cmake-build-debug-visual-studio/
build/
Resources/Models/
Resources/EnvMaps/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
*.o
*.rc
*.code-workspace
compile_commands.json
Makefile
tok.txt
