[submodule "Core/Include/External/imgui"]
	path = Core/Include/External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Core/Include/External/glfw"]
	path = Core/Include/External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Core/Include/External/glm"]
	path = Core/Include/External/glm
	url = https://github.com/g-truc/glm.git
[submodule "Core/Include/External/nativefiledialog"]
	path = Core/Include/External/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "Core/Include/External/ImGuizmo"]
	path = Core/Include/External/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Core/Include/External/assimp"]
	path = Core/Include/External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Core/Include/External/shaderc"]
	path = Core/Include/External/shaderc
	url = https://github.com/google/shaderc.git
[submodule "Core/Include/External/glslang"]
	path = Core/Include/External/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Core/Include/External/SPIRV-Tools"]
	path = Core/Include/External/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "Core/Include/External/SPIRV-Headers"]
	path = Core/Include/External/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "Core/Vendor/SDL"]
	path = Core/Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
